parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     null
    database_user:     null
    database_password: null
    database_name:     guesswhere

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            TajemnyHradVKarpatech

    yahoo.api_key:  {{yahoo_api_key}}
    flickr.api_key: {{flickr_api_key}}
